parameters:
  linestorm.blog.routing_loader.class:          LineStorm\BlogBundle\Router\BlogLoader
  linestorm.blog.admin.routing_loader.class:    LineStorm\BlogBundle\Router\BlogAdminLoader

  linestorm.blog.model_manager.class:           LineStorm\BlogBundle\Model\ModelManager
  linestorm.blog.module_manager.class:          LineStorm\BlogBundle\Module\ModuleManager

  linestorm.blog.module.post.class:             LineStorm\BlogBundle\Module\Post\PostModule
  linestorm.blog.module.post.article.class:     LineStorm\BlogBundle\Module\Post\Component\ArticleComponent
  linestorm.blog.module.post.gallery.class:     LineStorm\BlogBundle\Module\Post\Component\GalleryComponent

services:

  linestorm.blog.routing_loader:
    class: %linestorm.blog.routing_loader.class%
    arguments: [@linestorm.blog.module_manager]
    tags:
      - { name: routing.loader }

  linestorm.blog.admin.routing_loader:
    class: %linestorm.blog.admin.routing_loader.class%
    arguments: [@linestorm.blog.module_manager]
    tags:
      - { name: routing.loader }

  linestorm.blog.module_manager:
    class: %linestorm.blog.module_manager.class%

  linestorm.blog.model_manager:
    class: %linestorm.blog.model_manager.class%
    calls:
      - [ setMappings, [%linestorm_blog.entity_config%] ]
      - [ setEntityManager, [@doctrine, %linestorm_blog.entity_manager%] ]

  #
  # Module Management
  #
  linestorm.blog.module.post:
    class: %linestorm.blog.module.post.class%
    tags:
      - { name: linestorm.blog.module }
    calls:
      - [ setComponents, [ [@linestorm.blog.module.post.article, @linestorm.blog.module.post.gallery] ] ]

  linestorm.blog.module.post.article:
    class: %linestorm.blog.module.post.article.class%
    arguments: [@linestorm.blog.model_manager]

  linestorm.blog.module.post.gallery:
    class: %linestorm.blog.module.post.gallery.class%
    arguments: [@linestorm.blog.model_manager]

  #
  # TWIG ADMIN
  acme.twig.acme_extension:
    class: LineStorm\BlogBundle\Twig\BlogAdminExtension
    arguments: [ @linestorm.blog.module_manager ]
    tags:
      - { name: twig.extension }
